@page "/"

 <!--Header-->
<header>
    <h3 class="ms-fontSize-42 ms-fontWeight-regular">Welcome to Blazor Calendar</h3>
    <p class="ms-fontSize-14 ms-fontWeight-regular">Blazor Calendar allows you to manage all you events within your
    Outlook Calendar</p>
    <!--Not Authenticated Users-->
    <p class="ms-fontSize-14 ms-fontWeight-regular">Please Sign in with your Microsoft Account to get started</p>   
    <a href="#" class="microsoft-login-button shadow-effect"><img src="assets/images/microsoft.png" alt=""> Sign in
        with Microsoft</a>
</header>
