 <!-- Add Event -->
    <div class="ms-depth-16 card">
        <EditForm Model="" OnValidSubmit="">
            <div class="calendar-toolbar">
                <button class="toolbar-button" type="submit">
                    <i class="ms-Icon ms-Icon--AddEvent" aria-hidden="true"></i>
                </button>
            </div>
            <div class="card-content">
               <h3 class="ms-fontSize-24 ms-fontWeight-regular">@SelectedDay.Date.ToString("D")</h3>

                <input type="text" class="fluent-input" placeholder="Event Subject"/>
                <input type="time" class="fluent-input" placeholder="Event Subject"/>
                <input type="time" class="fluent-input" placeholder="Event Subject"/>
            </div>
        </EditForm>    
    </div>


@code{
    [Parameter]
    public CalendarDay SelectedDay {get;set;}


}